<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Quiz</h2>
        <mat-error>
          The amount is required !
        </mat-error>
        <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Number of Questions:</mat-label>
          <input type="number" matInput placeholder="Amount" formControlName="amount"  min="1" max="50" required>
         </mat-form-field>
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Select Category:</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</mat-option>
             </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Select Difficulty:</mat-label>
            <mat-select formControlName="difficulty">
              <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty | titlecase}}</mat-option>
             </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label>Select Type:</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
             </mat-select>
          </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Start</button>
      </form>
    </mat-card-content>
</mat-card>