<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="authService.isLoggedIn$ | async">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Trivia Quiz</h1>
    <span class="menu-spacer"></span>
    <div>
        <a mat-button [routerLink]="['/']" >Home</a>
         <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
          <a mat-button  [routerLink]="['/signup']" >SignUp</a>
          <a mat-button  [routerLink]="['/login']" >Login</a>  
         </ng-container>
        
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav >
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/pages/results'"> Results </a>
        <a mat-list-item [routerLink]="'/pages/quiz'"> New Quiz </a>  
        <a mat-list-item [routerLink]="'/'" (click)="logout()"> Logout </a>  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
   </mat-sidenav-content>
</mat-sidenav-container>