<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>SignUp</h2>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="fill">
            <input matInput type="password" placeholder="Repeat Password" formControlName="repeatPassword" required>
            <mat-error>
              Passwords do not match
            </mat-error>
            <mat-error *ngIf="form.hasError('notSame')">
              Passwords do not match
            </mat-error> 
          </mat-form-field>
        <button mat-raised-button color="primary">SignUp</button>
      </form>
    </mat-card-content>
</mat-card>